/* Import Google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	/*align-items: center;*/
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: rgba(255, 255, 255, 1);
	margin: 10px 10px;
	padding: 0;
	background: #4A4A4A
}

.time_today{
	order: 1;
	flex-wrap: wrap;
	line-height: 30px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #7fe3d1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the sidebarf buttons */
.sidebarbtn {
  background-color: #7fe3d1;
  width: 60px;
  padding: 10px 30px 10px 30px;
}

.menubtn {
  width: 250px;
}

.timetrackingbtn {
  position: relative;
  left: 20vw;
  top: 5vw;
  background-color: #208ef5;
  width: 40px;
  padding: 10px 60px 10px 30px;
}

.quicktrackingbtn {
  background-color: #208ef5;
  border-radius: 8px;
}

#image {
  object-position: 0px 10%;
  object-fit: contain;
  background-color: #ddd;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}